/* You can add global styles to this file, and also import other style files */

body {
  margin: 0px;
  background-color: #fafafa;
}

h2 {
  color: #03a9f4;
}

h3 {
  color: #03a9f4;
}

.app-root {
  width: 100%;
}
