<p>
  edit-event works!
</p>

<div>
  <a [routerLink]="['/home']"> Go Back to Events </a>
</div>
<div>
  <h1>Edit Event</h1>
</div>
<form enctype="multipart/form-data">
  <div>
    <div>
      <label for="title">Title for the Event</label>
      <input id="title" type="text" name="title" [(ngModel)]="formInfo.summary" required>
    </div>
  </div>
  <div>
    <div>
      <label for="description">Descripcion</label>
      <textarea id="description" type="text" name="description" [(ngModel)]="formInfo.description"></textarea>
    </div>
  </div>
  <div>
    <button (click)="editEvent()" type="submit" name="action">Edit</button>
  </div>
</form>
