
.container  {
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.container .row {
  margin: 0 auto;
}


#btn1, #btn2  {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.expand {
  height: 100vh;
  margin-top: 0px;
}

.page-footer {
margin-top: 0px;

}

.text-footer {
  margin-left: 40%;

}

.mask {
  background: rgba(39,62,84,0.82);
    overflow: hidden;
    height: 100%;
    z-index: 2;
    opacity: 0.5;
}

#carousel-item1{
  background-image: url("../../assets/meeting6.jpg");
   background-repeat: no-repeat;
   height: 100vh;
   background-size: cover;
}

#title-home {
  margin-top: 15%;
  font-weight: bold;
  color: white;
}

#text-home {
  color: white;
  margin-top: 0px;
  font-weight: lighter;
  font-size: 40px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;

}

#signup {
  margin-top: 550px;

}
