<div class="headerFake">
este es el componente principal

<!-- <app-login-form *ngIf="!session.user && session.startLoginCompleted"></app-login-form>
<div *ngIf="session.user && session.startLoginCompleted">
  <pre>{{ session.user | json }}</pre>
  <button (click)="logout()">Logout</button>
</div> -->


<div *ngIf="session.user && session.startLoginCompleted">
  <h3> Hi, {{ session.user.username }}, you are logged in</h3>
  <button (click)="logout()">Logout</button>
</div>

<div *ngIf="!session.user">
  <button [routerLink]="['/login']">Login</button>
  <button [routerLink]="['/signup']">Signup</button>
</div>

<div *ngIf="session.user && session.startLoginCompleted">
  <button [routerLink]="['/teams']">My Teams</button>
</div>

</div>

<div class="row">
   <div class="input-field col s6">
     <input value="Alvin" id="first_name2" type="text" class="validate">
     <label class="active" for="first_name2">First Name</label>
   </div>
 </div>


<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>
