<div class="container row" *ngIf="user">

  <div *ngIf="events" class="col s12 m6 offset-m3">

    <h2> My Events </h2>
    <button class="waves-effect waves-light btn light-blue right" id="btn1" type="button" name="button" [routerLink]="['/newevent']">New Event</button>

    <button class="waves-effect waves-light btn btn-flat right" id="btn2" type="button" name="button" [routerLink]="['/newteam']">Create Team</button>


    <div *ngFor="let event of events | async">
      <div class="row">
        <div class="col s12">
          <div class="card white">
            <div class="card-content  light-blue-text text-darken-3">
              <p class="card-title light-blue-text text-darken-4">{{ event.eventID.summary }}</p><br>
              <p>Event Starts on:</p>
              <p>{{ event.eventID.startDate | date: 'dd/MM/yyyy' }}, from {{ event.eventID.startDate | date: 'hh:mm' }} to {{ event.eventID.endDate | date: 'hh:mm' }}</p><br>
              <p>Description:</p>
              <p>{{ event.eventID.description }}</p>
            </div>
            <div class="card-action">
              <a class="right-align grey-text" [routerLink]="['/event', event.eventID._id]">Edit</a>
              <a class="right light-blue-text" [routerLink]="['/event/', event.eventID._id, 'active']">Start Event</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
