<div class="valign-wrapper signup" *ngIf="!session.user">

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" [(ngModel)]="email" name="email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" class="validate" [(ngModel)]="username" name="username">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" [(ngModel)]="password" name="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
      <button (click)="signup()" class="center-align btn waves-effect waves-light" type="submit" name="action">Signup
      <i class="material-icons right">send</i>
    </button>
    </div>
    </form>
    <p class="error"> {{ error }} </p>
    <div class="backlink">
      <a [routerLink]="['/login']"> Already with Account, Go to Login </a>
    </div>
  </div>



<!--
<form>
  <h2> Signup </h2>
  <label> Username </label>
  <input type="text" [(ngModel)]="username" name="username"/>
  <br>
  <label> Email </label>
  <input type="email" [(ngModel)]="email" name="email"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="password" name="password"/>

  <button (click)="signup()"> signup </button>

</form>

<p class="error"> {{ error }} </p>

<a [routerLink]="['/login']"> Already has an account, Go to login </a> -->

</div>
