<div class="row valign-wrapper signup" *ngIf="!session.user">

  <form class="col s12 m6 offset-m3 l4 offset-l4 ">
    <h2> Signup </h2>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" [(ngModel)]="email" name="email">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate" [(ngModel)]="username" name="username">
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" [(ngModel)]="password" name="password">
        <label for="password">Password</label>
      </div>
    </div>
    <p class="error"> {{ error }} </p>
    <button (click)="signup()" class="btn waves-effect waves-light light-blue" type="submit" name="action">Signup
      <i class="material-icons right">send</i>
    </button><br><br>
    <span>Already with Account?...<a [routerLink]="['/login']"> Login Now </a></span>
  </form>


</div>
