<div class="valign-wrapper login" *ngIf="!session.user">

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate" [(ngModel)]="username" name="username">
        <label for="email">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" [(ngModel)]="password" name="password">
        <label for="password">Password</label>
      </div>
    </div>
    <button (click)="login()" class="btn waves-effect waves-light light-blue" type="submit" name="action">Login
    <i class="material-icons right">send</i>
  </button>
  </form>
  <p class="error"> {{ error }} </p>
  <div class="center-align backlink">
    <a [routerLink]="['/signup']"> You don't have an account, Go to signup </a>
  </div>
</div>

</div>
