<div class="row valign-wrapper login" *ngIf="!session.user">

  <form class="col s12 m6 offset-m3 l4 offset-l4">
    <h2> Login </h2>
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate" [(ngModel)]="username" name="username">
        <label for="email">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" [(ngModel)]="password" name="password">
        <label for="password">Password</label>
      </div>
    </div>
    <p class="error"> {{ error }} </p>
    <button (click)="login()" class="btn waves-effect waves-light light-blue" type="submit" name="action">Login
    <i class="material-icons right">send</i>
  </button><br><br>
  <span>Don't have an account?...<a [routerLink]="['/signup']"> Signup Now </a></span>
  </form>



</div>
